<div id="login">
  <h1>Welcome Back!</h1>

  <form [formGroup]="logIn" (ngSubmit)="sendForm(logIn.value)">

    <div class="field-wrap">
      <label appKeyupBlurFocus [valueInput]="logIn.get('email').value">
        Email Address<span class="req">*</span>
      </label>
      <input type="email" formControlName="email" autocomplete="off"/>
    </div>

    <div class="field-wrap">
      <label  appKeyupBlurFocus [valueInput]="logIn.get('password').value">
        Password<span class="req">*</span>
      </label>
      <input type="password" formControlName="password" autocomplete="off"/>
    </div>

    <p class="forgot"><a href="#">Forgot Password?</a></p>

    <button class="button button-block">Log In</button>

  </form>

</div>
